<section class="flex justify-center items-center gap-2">
  <div class="dropdown dropdown-bottom dropdown-end">
    <div tabindex="0" role="button" class="btn btn-secondary m-1">Opções de busca</div>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
      @for (item of searchedEnum; track $index) {
      <li><a class="z-3000" (click)="returnValue(item); handleClick()">{{ searchedMapping[item] }}</a></li>
      }
    </ul>
  </div>

  <label class="input input-bordered flex items-center gap-2">
    @switch (optionSearch) {
      @case ("checkIn") {
        <input type="text" [(ngModel)]="inputSearch" (ngModelChange)="searched()" class="grow w-35" placeholder="Data CheckIn" 
        onfocus="this.type='date'"
        onblur="if(!this.value)this.type='text'" />
      }
      @case ("checkOut") {
        <input type="text" [(ngModel)]="inputSearch" (ngModelChange)="searched()" class="grow w-35" placeholder="Data CheckOut" 
        onfocus="this.type='date'"
        onblur="if(!this.value)this.type='text'" />
      }
      @case ("status") {
        <input type="text" [(ngModel)]="inputSearch" (ngModelChange)="searched()" class="grow" placeholder="Status" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      }
      @default {
        <input type="text" [(ngModel)]="inputSearch" (ngModelChange)="searched()" class="grow" placeholder="Tipo de quarto" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70">
          <path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" />
        </svg>
      }
    }
  </label>
</section>